In [1]:
# Import libraries
import pandas as pd
import numpy as np
import math

import geopandas as gpd
import json

from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, NumeralTickFormatter
from bokeh.palettes import brewer

from bokeh.io.doc import curdoc
from bokeh.models import Slider, HoverTool, Select
from bokeh.layouts import widgetbox, row, column

In [2]:
data_df_india = pd.read_excel(r'C:\Users\Surface pro\Downloads\choropleth-map-using-bokeh-master\choropleth-map-using-bokeh-master\data_ecxel.xlsx',dtype=object)
data_df_india.rename(columns={'Total Confirmed cases':'Cases','Name of State / UT':'st_nm'},inplace=True)
data_df_india.drop(columns={'Cured/Discharged/','Death','S. No.'},inplace=True)
data_df_india.head()

                         st_nm Cases
0  Andaman and Nicobar Islands    33
1               Andhra Pradesh  1061
2            Arunachal Pradesh     1
3                        Assam    36
4                        Bihar   243

In [3]:
fp = r'C:\Users\Surface pro\Downloads\choropleth-map-using-bokeh-master\choropleth-map-using-bokeh-master\india-polygon.shp'
sf_india = gpd.read_file(fp)
sf_india.head()

,id,st_nm,geometry
0,None,Andaman and Nicobar Islands,"MULTIPOLYGON (((93.84831 7.24028, 93.92705 7.0..."
1,None,Arunachal Pradesh,"POLYGON ((95.23643 26.68105, 95.19594 27.03612..."
2,None,Assam,"POLYGON ((95.19594 27.03612, 95.08795 26.94578..."
3,None,Bihar,"POLYGON ((88.11357 26.54028, 88.28006 26.37640..."
4,None,Chandigarh,"POLYGON ((76.84208 30.76124, 76.83758 30.72552..."

In [4]:
merged = sf_india.merge(data_df_india, on = 'st_nm', how = 'left')
merged.head()

,id,st_nm,geometry,Cases
0,None,Andaman and Nicobar Islands,"MULTIPOLYGON (((93.84831 7.24028, 93.92705 7.0...",33
1,None,Arunachal Pradesh,"POLYGON ((95.23643 26.68105, 95.19594 27.03612...",1
2,None,Assam,"POLYGON ((95.19594 27.03612, 95.08795 26.94578...",36
3,None,Bihar,"POLYGON ((88.11357 26.54028, 88.28006 26.37640...",243
4,None,Chandigarh,"POLYGON ((76.84208 30.76124, 76.83758 30.72552...",28

In [5]:
#Read data to json
merged_json = json.loads(merged.to_json())

#Convert to str like object
json_data = json.dumps(merged_json)
geosource = GeoJSONDataSource(geojson = json_data)


#Define a sequential multi-hue color palette.
palette = brewer['YlGnBu'][8]
#Reverse color order so that dark blue is highest obesity.
palette = palette[::-1]
#Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors. Input nan_color.
color_mapper = LinearColorMapper(palette = palette, low = merged['Cases'].min(), high = merged['Cases'].max(), nan_color = '#d9d9d9')
#Define custom tick labels for color bar.
tick_labels = {'5000': '>5000'}

#Add hover tool
hover = HoverTool(tooltips = [ ('Country','@st_nm'),('Cases','@Cases')])
#Create color bar. 
color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8,width = 500, height = 20,
                     border_line_color=None,location = (0,0), orientation = 'horizontal', major_label_overrides = tick_labels)
#Create figure object.
p = figure(title = 'Number of Covid-19 cases', plot_height = 800 , plot_width = 850, toolbar_location = None, tools = [hover])
p.xaxis.visible = False
p.yaxis.visible = False
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None
#Add patch renderer to figure. 
p.patches('xs','ys', source = geosource,fill_color = {'field' :'Cases', 'transform' : color_mapper},
          line_color = 'black', line_width = 0.25, fill_alpha = 1)
#Specify layout
p.add_layout(color_bar, 'below')


#Display plot
show(p)